<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275070509264-b9bfvhq579pan1h2hivn85lqp7in40rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275070509264-b9bfvhq579pan1h2hivn85lqp7in40rs</string>
	<key>API_KEY</key>
	<string>AIzaSyDvhAchBT_YNhtjB9MSq3AS05IBAuNqf3c</string>
	<key>GCM_SENDER_ID</key>
	<string>275070509264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jclerc.aupair.debug</string>
	<key>PROJECT_ID</key>
	<string>aupair-2c285</string>
	<key>STORAGE_BUCKET</key>
	<string>aupair-2c285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275070509264:ios:cf449e6069520fa1</string>
	<key>DATABASE_URL</key>
	<string>https://aupair-2c285.firebaseio.com</string>
</dict>
</plist>